
@import '@fontsource/roboto/400.css';
@import '@fontsource/roboto/500.css';
@import '@fontsource/roboto/700.css';
@import '@fontsource-variable/nunito-sans';

body {
  height: 100%;
  margin: 0;
  color: #0b0e11;
}